## Exclude the following file extensions
*.csv
*.ipynb
*.pyc
.DS_Store

## Exclude entire folders
__pycache__/
secrets/

## Exclude the specific files
finance_tracker.py
visualize/.streamlit/secrets.toml

## Include the following files
!/data/template-file.csv